<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_303Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="_303Player.Properties.Settings.dbProgramsConnectionString"
            connectionString="Data Source=DESKTOP-I974B79\SQLEXPRESS;Initial Catalog=dbPrograms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <_303Player.Properties.Settings>
            <setting name="Wallpaper" serializeAs="String">
                <value>info\Wallpaper.png</value>
            </setting>
            <setting name="FavoriteVolume" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="LateralMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isLogged" serializeAs="String">
                <value>False</value>
            </setting>
        </_303Player.Properties.Settings>
    </userSettings>
</configuration>